@model HandsOnEdu.Models.Entities.MstVolunteeringPost

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Themes/_Layout.cshtml";
    var postId = Model.Id;
}

<section>
    <div class="container mb-5">
        <h4>You are logged in as Admin</h4>

        <hr>

        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a class="nav-link" href="/Identity/Account/Manage/Email">Master Volunteer</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Identity/Account/Manage">Master Event</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Identity/Account/Manage/ChangePassword">Master Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Identity/Account/Manage/ChangePassword">Donation Settings</a></li>
                </ul>
            </div>

            <div class="col-md-9 mb-5">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Master Volunteer</h4>
                    <a href="/MstVolunteer/index" class="genric-btn medium default">Back to All Data</a>
                </div>

                <div class="mt-4 p-0">
                    <div class="form-container">
                        <h3 class="sticky-header mb-3 title_color">Edit Volunteer Post</h3>
                        @await Html.PartialAsync("_MstVolunteerForm")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            var postId = @postId; 

            if (postId) {
                $.ajax({
                    url: '/MstVolunteer/GetById/' + postId,
                    type: 'GET',
                    success: function (data) {
                        // Populate form fields with data
                        $('#Title').val(data.title);
                        $('#ImageUrl').val(data.imageUrl);
                        $('#HeldBy').val(data.heldBy);
                        $('#VolunteersNeeded').val(data.volunteersNeeded);

                        $('#PostDeadline').val(data.postDeadline);
                        $('#StartDate').val(data.startDate);
                        $('#EndDate').val(data.endDate);

                        $('#Description').val(data.description);
                        $('#VolunteerCriteria').val(data.volunteerCriteria);
                        $('#Benefits').val(data.benefits);
                        $('#Hashtag').val(data.hashtag);



                        // Log the selected value
                        console.log('Selected value:', data.location);


                       

                        console.log(data);
                    },
                    error: function (xhr) {
                        alert(xhr.responseJSON?.message || "An error occurred while fetching the data.");
                    }
                });
            }
        });
    </script>
}
