@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item submenu dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello @User.Identity?.Name!</a>
            <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="single-blog.html">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile">Bookmark Activity</a></li>
                <li class="nav-item"><a class="nav-link" href="/AdminDashboard/Index" title="Admin Area">Admin Area</a></li>
                <li class="nav-item">
                    <form class="form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-sm">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
}
else
{
   @*  <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li> *@
}
</ul>
