@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Themes/_Layout.cshtml";
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="transform: translateY(-61px);"></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>BLOG</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">Blog</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="courses_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Popular Free Courses</h2>
            <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station.</p>
        </div>
        <div class="row latest_blog_inner">
            <div class="col-lg-3 col-md-6">
                <div class="l_blog_item">
                    <img class="img-fluid" src="/assets/img/latest-blog/l-blog-1.jpg" alt="">
                    <a class="date" href="#">25 October, 2018  |  By Mark Wiens</a>
                    <a href="blog/show"><h4>Addiction When Gambling Becomes A Problem</h4></a>
                    <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="l_blog_item">
                    <img class="img-fluid" src="/assets/img/latest-blog/l-blog-2.jpg" alt="">
                    <a class="date" href="#">25 October, 2018  |  By Mark Wiens</a>
                    <a href="blog/show"><h4>Addiction When Gambling Becomes A Problem</h4></a>
                    <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="l_blog_item">
                    <img class="img-fluid" src="/assets/img/latest-blog/l-blog-3.jpg" alt="">
                    <a class="date" href="#">25 October, 2018  |  By Mark Wiens</a>
                    <a href="blog/show"><h4>Addiction When Gambling Becomes A Problem</h4></a>
                    <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="l_blog_item">
                    <img class="img-fluid" src="/assets/img/latest-blog/l-blog-4.jpg" alt="">
                    <a class="date" href="#">25 October, 2018  |  By Mark Wiens</a>
                    <a href="blog/show"><h4>Addiction When Gambling Becomes A Problem</h4></a>
                    <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery</p>
                </div>
            </div>
        </div>
    </div>
</section>