@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/Themes/_Layout.cshtml";
}

<section>
    <div class="container mb-5">
        <h2>You loggin as Admin</h2>

        <div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a class="nav-link text-dark" id="email" href="/AdminDashboard/Index">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" id="email" href="/MST_Volunteer/Index">Master Volunteer</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" id="profile" href="/MST_Event/Index">Master Event</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" id="change-password" href="/MST_Blog/Index">Master Blog</a></li>
                        @*   <li class="nav-item"><a class="nav-link" id="change-password" href="/Identity/Account/Manage/ChangePassword">Donation Settings</a></li> *@
                    </ul>
                </div>
                <div class="col-md-9 mb-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card text-white mb-3 rounded-0" style="max-width: 18rem; background:#4dbf1c;">
                                <div class="card-body p-3">
                                    <h5 class="card-title">Master Data Volunteer</h5>
                                    <p class="card-text" style="font-size:24px;">
                                        <i class="fa fa-calendar-o" style="font-size:24px;"></i>
                                        39 </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-white mb-3 rounded-0" style="max-width: 18rem; background:#4dbf1c;">
                                <div class="card-body p-3">
                                    <h5 class="card-title">Master Data Event</h5>
                                    <p class="card-text" style="font-size:24px;">
                                        <i class="fa fa-calendar" style="font-size:24px;"></i>
                                        75</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-white mb-3 rounded-0" style="max-width: 18rem; background:#4dbf1c;">
                                <div class="card-body p-3">
                                    <h5 class="card-title">Master Data Blog</h5>
                                    <p class="card-text" style="font-size:24px;">
                                        <i class="fa fa-newspaper-o" style="font-size:24px;"></i>
                                        20</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>