@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/Themes/_Layout.cshtml";
}

<section>
    <div class="container mb-5">
        <h4>You loggin as Admin</h4>

        <div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a class="nav-link" id="email" href="/MST_Volunteer/Index">Master Volunteer</a></li>
                        <li class="nav-item"><a class="nav-link" id="profile" href="/Identity/Account/Manage">Master Event</a></li>
                        <li class="nav-item"><a class="nav-link" id="change-password" href="/Identity/Account/Manage/ChangePassword">Master Blog</a></li>
                        <li class="nav-item"><a class="nav-link" id="change-password" href="/Identity/Account/Manage/ChangePassword">Donation Settings</a></li>
                    </ul>

                </div>
                <div class="col-md-9 mb-5">

                    <h3>Change password</h3>


                    <div class="row">
                        <div class="col-md-6">
                            <form id="change-password-form" method="post" novalidate="novalidate">

                                <div class="form-floating mb-3">
                                    <label class="form-label" for="Input_OldPassword">Current password</label>
                                    <input class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." type="password" data-val="true" data-val-required="The Current password field is required." id="Input_OldPassword" name="Input.OldPassword">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.OldPassword" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <label class="form-label" for="Input_NewPassword">New password</label>
                                    <input class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." type="password" data-val="true" data-val-length="The New password must be at least 6 and at max 100 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The New password field is required." id="Input_NewPassword" maxlength="100" name="Input.NewPassword">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.NewPassword" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <label class="form-label" for="Input_ConfirmPassword">Confirm new password</label>
                                    <input class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." type="password" data-val="true" data-val-equalto="The new password and confirmation password do not match." data-val-equalto-other="*.NewPassword" id="Input_ConfirmPassword" name="Input.ConfirmPassword">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.ConfirmPassword" data-valmsg-replace="true"></span>
                                </div>
                                <button type="submit" class="w-100 genric-btn info">Update password</button>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8EXzcei8wUlBrAJfLIqvbXOg0mXAGQv-bB_9ebPZxUiV4b9nMhy-GqaiFiSe99wolLiDT68Axijw8gUTguu6jDgkPG8W1r5PPyVjcUbzTHeaqJYTIkvLawuKegLn3VdaA6kECuSTekaB04QFxrVzQGvSry_LfjwQdPgrs9XsmKKtzJLKq5Jmv_zy5ZAkKp46eQ">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>