@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/Themes/_Layout.cshtml";
}

<section class="banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="transform: translateY(-61px);"></div>
		<div class="container">
			<div class="banner_content text-center">
				<h2>VOLUNTEER</h2>
				<div class="page_link">
					<a href="index.html">Home</a>
					<a href="about-us.html">Volunteer</a>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="course_details_area p_120">
	<div class="container">
		<div class="row course_details_inner">
			<div class="col-lg-8">
				<div class="c_details_img">
					<img class="img-fluid" src="~/assets/img/courses/course-details.jpg" alt="">
				</div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Objectives</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Volunteer Criteria</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Benefits</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Contact</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="objctive_text">
							"Homeless Shelter Helpers: Meal Prep and Serve" is a volunteer activity focused on preparing and serving meals for those in need at homeless shelters. Volunteers assist in preparing, cooking, and serving nutritious meals while offering support and care to the residents. This activity not only meets basic needs but also creates a warm and caring environment.
						</div>
					</div>
					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="objctive_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
						</div>
					</div>
					<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
						<div class="objctive_text">
							<ul class="list">
								<li><a href="#">Introduction Lesson</a></li>
								<li><a href="#">Basics of HTML</a></li>
								<li><a href="#">Getting Know about HTML 5</a></li>
								<li><a href="#">Tags and Attributes</a></li>
								<li><a href="#">Basics of CSS</a></li>
								<li><a href="#">Getting Familiar with CSS 3</a></li>
								<li><a href="#">Introduction to Bootstrap 3.0</a></li>
								<li><a href="#">Responsive Design</a></li>
								<li><a href="#">Canvas in HTML 5</a></li>
							</ul>
						</div>
					</div>
					<div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
						<div class="comments-area">
							Instagram: holi90
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="c_details_list">
					<h2 class="pb-2">Homeless Shelter Helpers: Meal Prep and Serve</h2>
					<ul class="list">
						<li><a href="#">Trainer’s Name <span>George Mathews</span></a></li>
						<li><a href="#">Start/End Date <span>17 August 2024</span></a></li>
						<li><a href="#">Schedule <span>2.00 pm to 4.00 pm</span></a></li>
						<li><a href="#">Available Seats <span>15</span></a></li>
						<li><a href="#" class="text-danger">Deadline <span>15 August 2024</span></a></li>
					</ul>
					<a class="main_btn" href="#">Be a Volunteer</a>
				</div>
			</div>
		</div>
	</div>
</section>