@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Themes/_Layout.cshtml";
}

<section>
    <div class="container mb-5">
        <h4>You are logged in as Admin</h4>

        <div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a class="nav-link text-dark" id="email" href="/AdminDashboard/Index">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" id="email" href="/MST_Volunteer/Index">Master Volunteer</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" id="profile" href="/MST_Event/Index">Master Event</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" id="change-password" href="/MST_Blog/Index">Master Blog</a></li>
                        @*   <li class="nav-item"><a class="nav-link" id="change-password" href="/Identity/Account/Manage/ChangePassword">Donation Settings</a></li> *@
                    </ul>
                </div>
                <div class="col-md-9 mb-5">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <h4 class="mb-0">Master Event</h4>
                        <form asp-action="Create" asp-controller="MST_Volunteer" method="get">
                            <button type="submit" class="genric-btn medium info">Create New</button>
                        </form>

                    </div>
                    <div class="mt-4 p-0">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID Voluntering</th>
                                        <th>Activity Name</th>
                                        <th>Organization</th>
                                        <th>Published</th>
                                        <th>Status</th>
                                        <th style="width: 10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < 5; i++)
                                    {

                                        <tr>
                                            <td>
                                                #72817ASYYD
                                            </td>
                                            <td>
                                                Homeless Shelter Helpers: Meal Prep and Serve
                                            </td>
                                            <td>
                                                XYZ Foundation
                                            </td>
                                            <td>
                                                1 August 2024
                                            </td>
                                            <td>
                                                <span class="badge bg-success text-light">Active</span>
                                            </td>
                                            <td>
                                                <a href="/MST_Volunteer/Show">Detail</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



