@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Themes/_Layout.cshtml";
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="transform: translateY(-61px);"></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>EVENT</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">Event</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="courses_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Popular Free Courses</h2>
            <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station.</p>
        </div>
        <div class="row courses_inner">
            @for (int i = 0; i < 8; i++)
            {
                <div class="col-lg-3 col-md-6 mb-5">
                    <a href="volunteer/show" style="cursor:pointer;">
                        <div class="card h-100">
                            <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Event @i">
                            <div class="card-body mb-4">
                                <div class="tag pb-3">
                                    <a href="#" class="badge badge-success">Education</a>
                                    <a href="#" class="badge badge-success">Health</a>
                                    <a href="#" class="badge badge-success">Environment</a>
                                </div>
                                <a href="volunteer/show" style="cursor:pointer; color:black">
                                    <h5 class="card-title">Homeless Shelter Helpers: Meal Prep and Serve</h5>
                                </a>
                                <p class="card-text">Brief description of the event. This event is all about...</p>
                                <div class="d-flex justify-content-start align-items-center">
                                    <i class="fa fa-calendar mr-2" aria-hidden="true"></i>
                                    <p class="card-text mb-0">17 August 2024</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>
                                    <p class="card-text mb-0">Kota Jakarta Barat</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
       @*  <nav aria-label="Page navigation">
            <ul class="pagination mt-4">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav> *@
    </div>
</section>

<style>
    .card {
        border: none;
        border-radius: 0px;
    }
</style>