@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/Themes/_Layout.cshtml";
}
<section class="home_banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="transform: translateY(-40.645px);"></div>
		<div class="container">
			<div class="banner_content text-center">
				<h3>We Ensure better education <br>for a better world</h3>
				<p>In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space telescope known as the Hubble.</p>
				<a class="main_btn" href="#">Get Started</a>
			</div>
		</div>
	</div>
</section>

<section class="finance_area">
    <div class="container">
        <div class="finance_inner row">
            <div class="col-lg-3 col-sm-6">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-rocket"></i>
                        </div>
                        <div class="media-body">
                            <h5>Science &amp; <br>Engineering</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-earth"></i>
                        </div>
                        <div class="media-body">
                            <h5>Science &amp; <br>Engineering</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-smile"></i>
                        </div>
                        <div class="media-body">
                            <h5>Science &amp; <br>Engineering</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-tag"></i>
                        </div>
                        <div class="media-body">
                            <h5>Science &amp; <br>Engineering</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

