@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Themes/_Layout.cshtml";
}
<section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="transform: translateY(-40.645px);"></div>
        <div class="container">
            <div class="banner_content text-center">
                <h3>We Ensure better education <br>for a better world</h3>
                <p>In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space telescope known as the Hubble.</p>
                <a class="main_btn" href="#">Get Started</a>
            </div>
        </div>
    </div>
</section>

<section class="finance_area">
    <div class="container">
        <div class="finance_inner row">
            <div class="col-lg-3 col-sm-6">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-rocket"></i>
                        </div>
                        <div class="media-body">
                            <h5>Science &amp; <br>Engineering</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-earth"></i>
                        </div>
                        <div class="media-body">
                            <h5>Science &amp; <br>Engineering</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-smile"></i>
                        </div>
                        <div class="media-body">
                            <h5>Science &amp; <br>Engineering</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-tag"></i>
                        </div>
                        <div class="media-body">
                            <h5>Science &amp; <br>Engineering</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="courses_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Popular Free Courses</h2>
            <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station.</p>
        </div>
        <div class="row courses_inner">
            <div class="col-lg-9">
                <div class="grid_inner">
                    <div class="grid_item wd55">
                        <div class="courses_item">
                            <img src="~/assets/img/courses/course-1.jpg" alt="">
                            <div class="hover_text">
                                <a class="cat" href="#">Free</a>
                                <a href="#"><h4>Japanease Language Class</h4></a>
                                <ul class="list">
                                    <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                                    <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                                    <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid_item wd44">
                        <div class="courses_item">
                            <img src="~/assets/img/courses/course-2.jpg" alt="">
                            <div class="hover_text">
                                <a class="cat" href="#">Free</a>
                                <a href="#"><h4>Japanease Language Class</h4></a>
                                <ul class="list">
                                    <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                                    <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                                    <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid_item wd44">
                        <div class="courses_item">
                            <img src="~/assets/img/courses/course-4.jpg" alt="">
                            <div class="hover_text">
                                <a class="cat" href="#">Free</a>
                                <a href="#"><h4>Japanease Language Class</h4></a>
                                <ul class="list">
                                    <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                                    <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                                    <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid_item wd55">
                        <div class="courses_item">
                            <img src="~/assets/img/courses/course-5.jpg" alt="">
                            <div class="hover_text">
                                <a class="cat" href="#">Free</a>
                                <a href="#"><h4>Japanease Language Class</h4></a>
                                <ul class="list">
                                    <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                                    <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                                    <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="course_item">
                    <img src="~/assets/img/courses/course-3.jpg" alt="">
                    <div class="hover_text">
                        <a class="cat" href="#">Free</a>
                        <a href="#"><h4>Japanease Language Class</h4></a>
                        <ul class="list">
                            <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                            <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                            <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_Blog" />

